appnope==0.1.4
asttokens==3.0.0
backoff==2.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
comm==0.2.2
debugpy==1.8.13
decorator==5.2.1
distro==1.9.0
duckdb==1.2.1
executing==2.2.0
greenlet==3.1.1
idna==3.10
ipykernel==6.29.5
ipython==9.0.2
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jupysql==0.11.0
jupysql-plugin==0.4.5
jupyter_client==8.6.3
jupyter_core==5.7.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
monotonic==1.6
nest-asyncio==1.6.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
ploomber-core==0.2.26
posthog==3.19.0
prettytable==3.15.1
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.2.1
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.38
sqlglot==26.9.0
sqlparse==0.5.3
stack-data==0.6.3
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
